.games-container {
    margin: 0 auto;
    max-width: 1140px;

    display: flex;
    flex-wrap: wrap;

    .card-form {
        margin-top: 50px;
    }

    .card-contatiner {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        padding: 10px;
        margin-top: 25px;

        .cover-container {
            .cover {
                min-height: 125px;
                max-height: 125px;
                max-width: 100px;
                min-width: 100px;
                margin: 6px;
                border-radius: 8px;

                cursor: pointer;
            }
        }

        .paginator-container {
            display: flex;
            justify-content: center;

            width: 100%;
        }
    }
}